.welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../digital-clock/src/assests/images/bg3.jpg');
}

.scaleLoader{
  color: white;
}

.clock{
  background-image: url('../../digital-clock/src/assests/images/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.time {
  font-size: 6rem;
  color: white;
  font-weight: 1000;
  font-family: 'Arial', sans-serif;
  margin-left: -100%;
}

.buttons{
  margin-bottom: 20%;
  margin-left: 250px;
}

.twelveHours{
  width: 180px;
  height: 70px;
  cursor: pointer;
  font-size: x-large;
  border: none;
  font-weight: 500;
  font-family: 'Arial', sans-serif;

}

.twelveHours:hover{
  background-color: yellow;
}

.twentyFourHours{
  width: 180px;
  height: 70px;
  background-color: blue;
  color: white;
  cursor: pointer;
  font-size: x-large;
  border: none;
  font-weight: 500;
  font-family: 'Arial', sans-serif;

}

.twentyFourHours:hover{
  background-color: yellow;
  color: black;
}